{% extends "aplicacion/pagina.html" %}

{% block titulo %}
    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-uppercase text-dark mb-lg-4">Mascotas</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
{% endblock titulo %}

{% block contenido %}

<table>
    <tr>
        <!-- Crear boton para añadir doctores -->
        <td width="300"><h2>Añadir Mascota</h2></td>
        <td>
            <a href="{% url 'mascota_create' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Especie</th>
            <th>Raza</th>
        </tr>
    </thead>
    <tbody>
    {% for m in mascotas %}
        <tr>
            <td>{{ m.id }}</td>
            <td>{{ m.nombre }}</td>
            <td>{{ m.especie }}</td>
            <td>{{ m.raza }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    
{% endblock contenido %}